#root{
    width: 250px;
    height: 200px;
    border: 2px solid blue;
    background-color: cyan;
    padding: 2px;
    font-size: 1.5em;
}
.container{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.vertical{
    flex-direction: column;
}
.horizontal{
    flex-direction: row;
}
button{
    margin: 2px;
    height: 25px;
}
.container>button{
    width: 50%;
    height: 40px;
}
input{
    width: 100%;
    height: 30px;
}